<div class="product-card{% if hidden %} product-card--hidden{% endif %}">
  <figure class="product-card__figure">
    <img class="product-card__image" src="/assets/{{product.image}}" alt="{{product.title}}" title="{{product.title}}"
      width="280" height="380" loading="lazy">
    {% if product.tags %}
    <ul class="product-card__tags">
      {% for tag in product.tags %}
      <li class="tag">{{ tag }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </figure>
  <article class="product-card__body">
    <h3 class="product-card__name">{{ product.title }}</h3>
    <p class="product-card__price">${{ product.price }} USD</p>
  </article>
  <button class="cart cart--rounded">
    <img class="cart__icon" src="/assets/cart.svg" alt="Carrito" title="Carrito" width="26" height="26" loading="lazy">
  </button>
</div>